<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Camaar" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Remover o comentário para verificar o funcionamento do tailwind
    Remover essa parte quando alguma tela for implementada %>
    <%# <div class="bg-blue-600 text-white text-center p-4 font-bold text-xl">
      Tailwind funcionando
    </div> %>

    <main class="container mx-auto mt-10 px-5">
      <%= yield %>
    </main>
  </body>
</html>